{{extend 'layout.html'}}


<h2 style="text-align: center">Cadastro de Modelos 3D</h2>
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Nome do modelo</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Nome do modelo">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Categoria do modelo</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Categoria do modelo">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Autor do modelo</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Autor do modelo">
        </div>
        <div class="mb-3">
            <label for="formGroupExampleInput" class="form-label">Tempo de modelagem</label>
            <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Tempo de modelagem">
        </div>
        <div class="input-group">
            <label class="input-group-text" for="inputGroupFile02">Arquivo .stl</label>
            <input type="file" class="form-control" id="inputGroupFile02" aria-describedby="inputGroupFile02" aria-label="Upload">
        </div>


<script>

</script>


<style>

</style>
